
.vscode/*
AT32F435ZMT7_BUBUILDA/*
AT32F435ZMT7_BUBUILDA/build/*
satellite_device/build/*
satellite_driver/build/*
satellite_driver/files_operations/files_operations.c
satellite_driver/files_operations/files_operations.h
satellite_driver/main1.c
